body {
    max-width: 1666px;
    margin: 0 auto;
}


.title-1 {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.container > * {
    width: 100%;
}

.collapse-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.personal-core-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 12px;
    background-color: #f6f6f8;
}

.personal-core-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -.02em;
    color: #a3aed0;
}

.personal-core-text {
    font-size: 20px;
}


#nms-analysis-channel-report{
    display: block;
    width: 300px;
    border: 1px solid #A3AED0;
    padding: 16px;
    border-radius: 8px;
}
#nms-analysis-channel-report::part(analysis-channel) {
    padding: 0;
}
#nms-analysis-channel-report::part(analysis-p-line-title) {
    color: #45557D;
}
#nms-analysis-channel-report::part(analysis-p-line-chart-container) {
    background-color: #DFE3EF;
}
#nms-analysis-channel-report::part(analysis-p-line-chart-value) {
    background-color: #4E9BF0;
}

.line {
    min-height: 1px;
    min-width: 1px;
    height: auto;
    width: auto;
    background-color: #a3aed0;
}

.collapse-row{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.collapse-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.collapse-row > * {
    width: 100%
}


.gc-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #A3AED0;
    border-radius: 12px;
    padding: 18px 24px;
}

.gc-container .gc-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -.02em;
    color: #2a385e;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

#emlo-diamond {
    width: 380px;
    height: 251px;
}

.personal-core-diamond {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.emotion-player-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    gap: 24px;
    border: 1px solid #A3AED0;

    .emotion-player-block-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 12px;
    }
}
.title-1{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.player-info{
    cursor: pointer;
}
.channel-headers{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    .ch-header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 18px;

        &.channel0{
            border-radius: 8px 0 0 8px;
            background-color: #FFCC99;
        }
        &.channel1{
            border-radius: 0 8px 8px 0;
            background-color: #99CCCC;
        }
    }
}
.collapse-body{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.collapse-row{
    display: flex;
    flex-direction: row;
    gap: 24px;
    & > * {
        width: 100%;
    }
}
.line{
    min-height: 1px;
    min-width: 1px;
    height: auto;
    width: auto;
    background-color: #A3AED0;
}
nms-dr-stress-profile::part(sp-container){
    height: 100%;
    border-radius: 12px;
}
nms-dr-stress-profile::part(sp-info-container){
    margin-top: auto;
    margin-bottom: auto;
}
nms-dr-behavioral-profile::part(bp-container){
    border-radius: 12px;
}
nms-dr-emotional-profile::part(emp-container){
    height: 100%;
    justify-content: space-between;
    border-radius: 12px;
}
nms-dr-logical-profile::part(lp-container){
    border-radius: 12px;
}
nms-dr-atmosphere-profile::part(ap-container){
    height: 100%;
    border-radius: 12px;
}
nms-dr-atmosphere-profile::part(ld-container){
    margin-top: auto;
}
nms-dr-mood-profile::part(mp-container){
    height: 100%;
    border-radius: 12px;
}
nms-dr-mood-profile::part(mp-content-container){
    flex: 1;
}
nms-dr-mood-profile::part(mp-pie-container){
    flex: 1;
    justify-content: space-between;
}
nms-dr-mood-profile::part(mp-pie-display-container){
    flex-direction: row;
}

.hide-stt {
    nms-dr-topic-list::part(qt-container) {
        display: none;
    }
}

nms-dr-risk-brief-topic-list-collapse::part(collapse-container expanded) {
    display:flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
nms-dr-risk-brief-highlight-collapse::part(collapse-container expanded) {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

nms-dr-conclusion::part(gc-body-header) {
    color: #45557D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 12px;
}

.personal-core-diamond{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#nms-dr-channel-edp{
    width: 100%;
}

.personal-core-diamond-center{
    display: flex;
    align-items: center;
}